h1 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.38;
  margin-bottom: 30px;
}
.address {
  line-height: 1.83;
  color: #152934;
  margin-bottom: 25px;
}
.contact {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px 0;
  .contact-item {
    &:nth-child(2n) {
      font-weight: bold;
      color: #b46f00;
    }
  }
}

ol {
  padding: 0 20px;
  li {
    padding-left: 20px;
  }
}