.filterMenuItem {
  .line {
    height: 4px;
  }
  .active {
    background: linear-gradient(to right, rgba(52,85,247,1) 0%, rgba(93,159,240,1) 54%, rgba(24,208,240,1) 100%);
  }
  flex-grow: 1;
  padding: 12px 0px 0px 0px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #dfe3e6;
  border-bottom: none;
  border-top: none;
  text-align: center;
  @media screen and (max-width: 375px) {
    padding: 11px 12px;
  }
  &:first-child {
    border-left: none;
    // border-right: none;
  }
  &:last-child {
    border-right: none;
  }
  &__text {
    color: #152934;
    margin-right: 23px;
    margin-bottom: 10px;
    font-size: 14px;
    display: inline-flex;
    vertical-align: middle;
  }
  &__svgWrapper {
    display: inline-flex;
    vertical-align: middle;
    svg {
      width: 24px;
      height: 24px;
      path {
        fill: #ec9d00;
      }
    }
  }
}