@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body {
  background-color: #f0f0f0;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  color: #454F63;
}
a,
.color-gold:hover {
  color: $color-primary-hover;
  text-decoration: none;
}
a,
a:hover {
  color: #9b9b9b;
  text-decoration: none;
}
.color-light-black:hover {
  color: $light-black;
  text-decoration: none;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}

.shopping-cart-pill {
  position: absolute;
  background-color: #ec9d00;
  color: white;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  font-family: 'Roboto';
  font-size: 0.5rem;
  text-align: center;
  line-height: 16px;
}

.btn-square {
  border-radius: 0 !important;
}
.bg-light {
  background-color: #ffffff !important;
}
.bg-grey {
  background-color: #ecebeb;
}

.bg-light-grey {
  background-color: #f0f3f6;
}
.bg-green {
  background-color: $color-green;
}

.bg-black {
  background-color: #152934;
}

.btn-outline-varian {
  border-color: #8c9ba5;
  color: #8c9ba5;
}

.btn-outline-varian:not(:disabled):not(.disabled).active {
  // background-color: #e1b863;
  border-color: #e1b863;
  color: #e1b863;
}
.border-bottom {
  border-bottom: 1px solid #dfe3e6;
}
.border-top {
  border-top: 1px solid #dfe3e6;
}

.border-right {
  border-right: 1px solid #dfe3e6;
}

.border-left {
  border-left: 1px solid #dfe3e6;
}
.card-noborder {
  border: 0 !important;
}
.circle-border-gold {
  border-radius: 50%;
  border: 1px solid $color-primary;
}
.circle-border-black {
  border-radius: 50%;
  border: 1px solid $light-black;
}
.circle-border-grey {
  border-radius: 50%;
  border: 1px solid $grey;
}

.color-light-black {
  color: $light-black;
}
.color-gold {
  color: $color-primary;
}

.color-white {
  color: $white;
  &:hover {
    color: $white;
  }
}

.color-red {
  color: #d63230;
}

.color-soft-grey {
  color: #9b9b9b;
}

.col-padding-sm {
  @include breakpoint(xs) {
    padding: 0 0.2rem !important;
  }
}

.category-list-collapse[aria-expanded='true'] {
  .animated-caret {
    transform: rotate(90deg);
  }
}

/*for the animation*/
.category-list-collapse:after {
  .animated-caret {
    transition: 0.5s;
  }
}

.ebaba-logo {
  width: 6rem;
}

.dark-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.image-thumb {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.form-check {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.full {
  min-height: 100vw;
}
.full-100vh {
  min-height: 100vh;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.list-non-style {
  list-style-type: none;
  padding: 0.5rem 0;
  margin: 0;
}
.list-non-style > li {
  padding: 0.2rem 0;
}

.list-font-style {
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 0.8rem;
  color: #5a6872;
}
.margin-small {
  margin: 0 0.9rem;
}

.margin-middle {
  margin: auto 0 !important;
}

.padding-small {
  padding: $padding-small;
}

.padding-xsmall {
  padding: $padding-light;
}

.padding-top-bottom-small {
  padding: 0.8rem 0;
}
.page-menu {
  .row {
    max-width: 480px;
    margin: auto;
  }
  margin: auto 0;
  padding: 7px 16px;
  background: #ffffff;
  box-shadow: 0 5px 5px -7px #333;
}
.page-content {
  margin-top: 4.3rem !important;
  padding-bottom: 52.59px;
}

.primary-title {
  font-family: $font-family-primary;
  font-size: 0.857rem;
  font-weight: $font-weight-medium;
  margin-bottom: 0.25rem;
  letter-spacing: 0.5px;
}

.primary-price {
  font-family: $font-family-primary;
  font-size: 1rem;
  font-weight: $font-weight-large;
}

.primary-desc {
  font-family: $font-family-primary;
  font-size: 0.857rem;
  font-weight: $font-weight-small;
  color: $light-black;
  line-height: 1.5rem;
}

.horizontal-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dfe3e6;
  margin: 0.5em 0;
  padding: 0;
}
.rounded-border-gold {
  border-radius: 0.2rem;
  border: 1px solid $color-primary;
}

.slick-dots {
  bottom: 10px !important;
}
.slick-dots li button:before {
  font-size: 12px !important;
}
.slick-dots li.slick-active button:before {
  color: $white !important;
}
textarea {
  resize: none;
}

::-webkit-input-placeholder {
  font-size: 0.857rem !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 0.857rem !important;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 0.857rem !important;
}

.no-padding-xs {
  @include breakpoint(xss) {
    padding: 0 !important;
  }
  @include breakpoint(xs) {
    padding: 0 !important;
  }
}

.no-padding {
  padding: 0 !important;
}

.circle-btn-shadow {
  -webkit-box-shadow: 0px 2px 4px 0px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 2px 4px 0px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 2px 4px 0px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.card-no-radius {
  border-radius: 0 !important;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper:after {
  content: '';
  display: block;
  padding-top: 100%;
}

.wrapper img {
  width: auto;
  height: 100%;
  max-width: none;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
