.confirm {
  padding: 0 !important;
}
.confirm-btn {
  cursor: pointer;
  .title {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 10px 0;
    color: #ffffff;
  }
}
.first {
  background: #FB8026;
}
.last {
  background: #009688;
}