.review-content {
	padding: 1rem 0;
}


.review-item-thumb > img {
	object-fit: cover;
	width: 4rem;
	height: 4rem;
	margin: 0 auto;
}

.review-item-title {
	font-family: $font-family-primary;
	font-size: 0.857rem;
	font-weight: $font-weight-large;
	color: $light-black;
}

.review-item-detail {
	font-family: $font-family-primary;
	font-size: 0.65rem;
	color: #949494;
}
.review-item-price {
	font-family: $font-family-primary;
	font-size: 0.857rem;
	font-weight: $font-weight-large;
}
.review-trash-icon {
	text-align: center;
	padding-top: 1.3rem;
}

.review-summary-detail, .review-shipping-detail, .review-payment-detail {
	font-family: $font-family-primary;
	font-size: 0.8rem;
	color: $light-black;
}

.review-name-customer, .review-payment-title {
	font-weight: $font-weight-large;
}

.review-shipping-detail {
	.review-detail {
		line-height: 1.83;
		letter-spacing: 0.4px;
		&:nth-child(1) {
			font-weight: 600;
		}
	}
}

.shipping-review-detail {
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.83;
	letter-spacing: 0.4px;
	.detail-sub {
    width: 100%;
    display: inline-flex;
    margin-bottom: 0.3rem;
    line-height: 1.83;
    letter-spacing: 0.4px;
		span.left {
			display: inline-block;
			width: 50%;
			float: left;
			color: #78838b;
		}
		span.right {
			display: inline-block;
			width: 50%;
			text-align: right;
		}
	}
}
