.collapse-item {
  height: 56px;
  padding: 16px;
  background-color: #ffffff;
  box-shadow: inset 0 -1px 0 0 #dfe3e6;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #152934;
  .item-title {
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    position: relative;
  }
  .item-arrow {
    font-size: 23px;
    position: absolute;
    color: #8c9ba5;
    top: 50%;
    right: 5px;
    transform: translate(-50%,-50%);
    transition: all ease .4s;
  }
  &.active {
    .item-arrow {
      transform: rotate(90deg);
      top: 24%;
      right: 15px;
    }
  }
}

.collapse-content {
  box-shadow: inset 0 -1px 0 0 #dfe3e6;
  padding: 16px;
  background-color: #fff;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #152934;
  .content-description {
    margin-bottom: 20px;
  }
}