header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10000;
  .headerInner {
    max-width: 480px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .title {
      text-align: center;
      font-size: 1.3rem;
      width: 100vw;
      margin: 0;
      color: #ffffff;
    }
  }
  .bottomHeader {
    z-index: 1;
    background: #ffffff;
    position: absolute;
    top: 65px;
    left: 0;
    transition: all .3s;
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
    // &.active {
    //   top: -7px;
    // }
  }
  .topHeader {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    transition: all .3s;
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid #e2e2e2;
    background: #009688;
    .headerInner {
      padding: 0 1rem;
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: space-between;
      .headerLogo {
        display: inline-flex;
        vertical-align: middle;
        height: 24px;
        position: relative;
        top: 2px;
      }
      .searchInput {
        display: inline-flex;
        align-self: flex-end;
        width: calc(100% - 40px);
        a, input {
          width: 100%;
        }
      }
    }
  }
}