.category{
  &-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 40px;
  }
  &-item {
    margin: 10px 0;
    display: grid;
    @media screen and (max-width: 375px) {
      width: 6.8rem;
      height: 8.5rem;
    }
      width: 10rem;
      height: 13rem;
    .btn {
      @media screen and (max-width: 375px) {
        width: 6.8rem;
        height: 6.8rem;
      }
      width: 10rem;
      height: 10rem;
      display: flex;
      justify-content: center;
      align-content: center;
      padding: 0px;
      .image {
        @media screen and (max-width: 375px) {
          height: 60px;
          width: 60px;
        }
        height: 90px;
        width: 90px;
        border-radius: 100%;
      }
    }
    label {
      width: 100%;
      text-align: center;
      margin: 10px 0;
      font-weight: 600;
      font-size: 1rem;
    }
    &:nth-child(odd) {
      margin-right: 10px;
    }
    &:nth-child(even) {
      margin-left: 10px;
    }
  }
}