.category{
  &-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
  }
  &-item {
    margin: 10px 10px;
    display: grid;
    .btn {
      width: 10rem;
      height: 10rem;
    }
    label {
      width: 100%;
      text-align: center;
      margin: 10px 0;
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
}