.regist-step7-container {
  .title {
    margin: 0 15px;
    margin-top: 5%;
    font-size: 2rem;
    font-weight: 600;
  }
  .subtitle {
    margin: 0 15px;
    margin-top: 5%;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 20px;
  }
  .regist-form {
    margin-top: 5%;
    margin-bottom: 10%;
    padding-top: 10%;
  }
  .options {
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 5%;
    .left, .right {
      width: 50%;
    }
    .left {
      display: flex;
      justify-content: flex-start;
    }
    .right {
      display: flex;
      justify-content: flex-end;
    }
    .btn {
      width: initial;
      padding: 10px 20px;
      background: none;
      box-shadow: none;
      color: #028679;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}